{block head}
<link rel="stylesheet" href="{$basePath}/css/paginator.css">
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/items-table.js"></script>
{/block}

{block content}

{include 'navigation.latte'}

<h2 n:block=title>Odeslané zprávy</h2>

{control messagesTable}

{/block}